@font-face {
  font-family: 'fot-rodin_proub';
  src: url('../../fonts/fot-rodin_pro_ub-webfont.woff2') format('woff2'),
       url('../../fonts/fot-rodin_pro_ub-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
p{
  font-family: 'fot-rodin_proub';
}